*   {
    font-family: 'Lato', sans-serif !important;
}

body{
    padding: 10p;
}

.wrapper    {
    background: #E0d9d3;
}

.wrapper > .viddy{
    padding-bottom: 16px;
}

.wrapper > #banner  {
    background: linear-gradient(to right bottom, #061932e0, #0e53aec8), url(../pics/capteurinha.png);
    /* background-repeat: repeat-x repeat-y; */
    background-size: cover;
    background-position: center;
}
.wrapper > #banner img  {
    left: 0;
    top: 0;
    display: block;
    margin: auto;
    width: 50%;
    height: auto;
}

.wrapper    {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    z-index: 0;
    max-width: 100%;
}

.wrapper > .black {
    background: #389cD7;
}

.wrapper > .actualblack {
    background: #59BBD5;
}

.wrapper > .actualblack >.card   {
    perspective: 700;
    transition: all 0.6s ease;
    position: relative;
}

.wrapper > .actualblack > .card:hover   {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

.wrapper > .black >.card   {
    perspective: 700;
    transition: all 0.6s ease;
    position: relative;
}

.wrapper > .black > .card:hover   {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

.back, .front{
    backface-visibility: hidden;
}

.back   {
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    /*
    margin-top: -10vw; 
    */
}

.back1   {
    left: 12%;
    top: 20%;
    display: block;
    width: 75%;
    height: auto; 
}

.back2  {
    margin-top: -11vw;
}

.back p {
    margin: 0;
    text-align: center;
}
.wrapper > .black p   {
    color: white;
    font-size: 2em;
    font-weight: 400;
    font-stretch: expanded;
    text-align: center;
}

.wrapper > .actualblack p   {
    color: white;
    font-size: 2em;
    font-weight: 400;
    font-stretch: expanded;
    text-align: center;
}


.wrapper > .viddy   {
    grid-column: 1/5;
    margin-bottom: -20px;
}

.wrapper > #banner  {
    grid-column: 1/5;
}

/*
.wrapper > .banner:hover     {
    background: yellow;
    color: black;
}
*/
@keyframes transitford  {
    from {background-color: #01439c; color: #59BBD5;}
    to {background-color: #59BBD5; color: #01439c;}  
}


.wrapper > #banner h2  {
    color: white;
    font-size: 4em;
    font-weight: 400;
    font-stretch: expanded;
    text-align: center;
}

.wrapper > div img   {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.wrapper > .mapcontainer    {
    grid-column: 1/5;
    background: linear-gradient(to right bottom,
     #061932e0,
      #0e53aec8),
       url(../pics/rakkatakkssssss.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 100px;
}

.wrapper > .mapcontainer > .map {
    grid-column: 2/4;
}

.wrapper > .mapcontainer > .map h3  {
    font-size: 2.5em;
    font-weight: 400;
    font-stretch: expanded;
    text-align: center;
    color: white; 
    text-shadow: 2px 2px black; 
}

.wrapper > .driving  {
    grid-column: 1/5;
    margin-top: -150px;
    padding-top: 2em;
    padding-bottom: 2em;
    background-image: linear-gradient(to right bottom,
     #061932e0,
     #0e53aec8),
      url(../pics/snipsnapaaaaa.png);
    background-position: center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);
    z-index: 51;
}

.wrapper > .driving h3  {
    font-size: 2.5em;
    font-weight: 400;
    font-stretch: expanded;
    text-align: center;
    color: white;
    text-shadow: 2px 2px black; 
}

.wrapper > .driving > div   {
    grid-column: 1/5;
}

.wrapper > .driving > .gfyvideo {
    height: 30vw;
    width: 53vw;
    margin-left: 22.5vw;
}

.wrapper > .driving > div p  {
    font-size: 1.8em;
    font-weight: 400;
    font-stretch: expanded;
    text-align: center;
    color: white;
}

.wrapper > .book {
    grid-column: 1/5;
    background: linear-gradient(to right bottom,
     #061932e0,
      #0e53aec8),
       url(../pics/barndbrekaaaa.png);
    background-size: cover;
    background-position: center;
    margin-top: -6.9vh;
    padding-bottom: 1vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    z-index: 50;
}

.wrapper > .book h4 {
    color: white;
    font-weight: 400;
    font-stretch: expanded;
    font-size: 1.9em;
    text-align: center;
    text-shadow: 2px 2px black; 
}

.wrapper > .footer  {
    grid-column: 1/5;
    padding-top: 1em;
    padding-bottom: 1em;
    background: black;
    margin-top: -9vh;
    z-index: 49;

}

.wrapper > .footer p  {
    font-size: 1em;
    font-weight: 400;
    font-stretch: expanded;
    text-align: center;
    color: rgb(120, 220, 32);
}

.hovermats  {
    position: absolute;
    z-index: 500;
    width: 100%;
    padding: 20px;
    margin-top: -6.5vh;
    left: -20px;
    padding: 0 0 0 0;
}

.hovermats p {
    font-size: 1em;
    font-weight: 400;
    font-stretch: expanded;
    text-align: center;
    color: rgb(120, 220, 32);
}

.wrapper > .homebutton {
    grid-column: 1/5;
    padding-top: 2em;
    padding-bottom: 2em;
}

.wrapper > .homebutton a   {
    display: block;
    font-size: 1em;
    font-weight: 400;
    font-stretch: expanded;
    text-align: center;
    color: white;
    text-decoration: none;
}

.wrapper > .homebutton a:hover  {
    color: grey;
    font-size: 1.1em;
}

.wrapper > .containerreiner    {
    grid-column: 2/4;
    background: #389cD7;
}

/* Add a background color and some padding around the form */
.wrapper > .containerreiner > .container {
    grid-column: 2/4;
    /* background-color: #f2f2f2; */
    font-weight: 400;
    font-stretch: expanded;
    margin: 5px 5px 5px 5px;
    border: 10px rgb(255, 0, 0);
    border-radius: 5px;
}


.containerreiner > .container > form    {
    margin-left: 28%;
    padding-bottom: 5vh;
}


/* Style inputs with type="text", select elements and textareas */
.containerreiner > .container > form > input[type=text], select, textarea {
    width: 60%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    box-sizing: border-box; /* Make sure that padding and width stays in place
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}



.containerreiner > .container > form > label   {
    color: white;
    line-height: 2;
}

/* Style the submit button with a specific background color etc */
.containerreiner > .container > form > input[type=submit] {
    background-color: inherit;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
.containerreiner > .container > form > input[type=submit]:hover {
    background-color: #0e53ae;
    color: white);
}

@media only screen and (min-width: 601px) and (max-width: 1171px) {
    .wrapper > .black p {
        font-size: 1.2em;
    }
    .wrapper > .actualblack p {
        font-size: 1.2em;
    }    
}
    .wrapper > .book{
        margin-top: -8vh;
    }

@media only screen and (min-width: 330px) and (max-width: 600px) {
    .wrapper > #banner   {
        font-size: 1.5vw;    
    } 

    .wrapper > #banner img    {
        width: 100%;
        height: auto;
    }

    .buttons {
        top:28vw;
    }

    .buttons button {
        font-size: 0.8em;
    }

    .buttons button:hover   {
        font-size: 0.9em;
    }

    .buttons a {
        font-size: 0.8em;
    }

    .buttons a:hover   {
        font-size: 0.9em;
    }

    .overlay    {
        top: 40vw;
    }
        
    .overlay a {
        font-size: 0.8em;
    }
    
    .overlay a:hover   {
        font-size: 0.9em;
    }

    .wrapper > div {
        grid-column: 1/5;
    }
    
    .wrapper > .driving {
        clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
        z-index: 2000;
        margin-top: -135px
    }

    .wrapper > .book    {
        margin-top: -11.2vh;
        padding-top: 6vh; 
        padding-bottom: 20px;
    }

    .hovermats {
        margin-top: ;
        padding: 0 0 0 0;
        left: -1vw;
    }

    .wrapper > .footer {
        margin-top: -20vh;
    }

    .wrapper > .actualblack {
    }

    .wrapper > .mapcontainer    {
        margin-top: 0;
        z-index: 200;
    }

}
    
@media only screen and (max-width: 330px) {
    .wrapper > #banner   {
        font-size: 1.5vw;    
    } 

    .wrapper > #banner img    {
        width: 100%;
        height: auto;
    }

    .buttons {
        top:28vw;
    }

    .buttons button {
        font-size: 0.8em;
    }

    .buttons button:hover   {
        font-size: 0.9em;
    }

    .buttons a {
        font-size: 0.8em;
    }

    .buttons a:hover   {
        font-size: 0.9em;
    }

    .overlay    {
        top: 40vw;
    }
        
    .overlay a {
        font-size: 0.8em;
    }
    
    .overlay a:hover   {
        font-size: 0.9em;
    }
    .wrapper > .driving     {
        z-index: 5000;
        margin-top: -125px;
        clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%) !important;

    }
    .wrapper > div {
        grid-column: 1/5;
    }

    .wrapper > .book    {
        margin-top: -11.7vh;
        padding-top: 7vh; 
        padding-bottom: 20px;
    }

    .hovermats{
        left: -1vw;
    }

    .wrapper > .footer {
        margin-top: -20vh;
    }

    .wrapper > .actualblack {
    }

    .wrapper > .mapcontainer    {
        margin-top: 0;
        z-index: 200;
    }
/*
    .back1  {
        margin-top: -90.5vw !important;
    }

    .back   {
        margin-top: -37.5vw;
    }
*/
    
}


/* Icon Hang */
@-webkit-keyframes hvr-icon-hang {
    0% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
    50% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
    }
    100% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @keyframes hvr-icon-hang {
    0% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
    50% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
    }
    100% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @-webkit-keyframes hvr-icon-hang-sink {
    100% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @keyframes hvr-icon-hang-sink {
    100% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  .hvr-icon-hang {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-icon-hang .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .hvr-icon-hang:hover .hvr-icon, .hvr-icon-hang:focus .hvr-icon, .hvr-icon-hang:active .hvr-icon {
    -webkit-animation-name: hvr-icon-hang-sink, hvr-icon-hang;
    animation-name: hvr-icon-hang-sink, hvr-icon-hang;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }
  